flask 
flask-cors
websocket-client
websockets 
scapy
pymongo
uwsgi
webargs
flask_pymongo
pandas
requests
networkx
spacy
#lsof
matplotlib
PyYAML

# Should run from the venv: python -m spacy download en_core_web_sm
