body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Red Hat Display', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  height: 100vh;
}

.toolbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px
}

.dropdown-buttons .MuiButton-root {
  background-color: black;
  color: white;
  border: solid transparent !important;
  font-size: 18px;
  width: 130px;
  height: 80px; 
  text-transform: none;
  margin-left: 8px; 
}

.dropdown-buttons .MuiButton-root:hover {
  border-top: solid red !important;
  background-color: black; 
}

.dropdown-buttons .MuiButton-root.selected {
  border-top: solid red !important; /* Keep the red border */
  background-color: black !important; /* Keep the background color */
}

.toolbar-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
}

.role-selection {
  color:white;
  min-width: 150px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

.bottom-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
}

.form-tabs {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-tabs .MuiTab-root {
  font-weight: bold;
  text-transform: none;
}

.form-tabs .MuiTab-textColorPrimary.Mui-selected {
  color: #2e78c7;
}

.form-tabs .MuiTabs-indicator {
  background-color: #2e78c7;
}

.form-section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.disabled-tab {
  pointer-events: none;
  opacity: 0.5;
}

.error {
  color: red;
  font-size: 0.9em;
}

.button-group {
  text-align: right;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Tables Styles */
.table-container {
  margin: 50px 20px;
}

.forms-table {
  margin-top: 60px;
  width: 100%;
  border-collapse: collapse;
}

.forms-table th,
.forms-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.forms-table th {
  background-color: #e0e0e0;
}

.forms-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.forms-table tr:hover {
  background-color: #f1f1f1;
}

.table-cell {
  position: relative;
}

.tooltip-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.tooltip-container h3 {
  margin-top: 0;
}

.tooltip-container ul {
  list-style-type: none;
  padding-left: 0;
}

.tooltip-container li {
  margin-bottom: 5px;
}

.tooltip-header {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.tooltip-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  font-size: 12px;
}

.tooltip-list li {
  margin: 5px 0;
}

.code-visualizer {
  width: 100%;
  overflow-x: auto;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 50vh;
}

.project-name {
  font-weight: bold;
}

.project-name.ODS-CI {
  color: lightcoral;
}

.project-name[class*="Openshift QE"] {
  color: lightblue;
}

/* Overlay container */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.statistics-graphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.graph-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.graph-container {
  width: 45%;
  max-width: 400px;
  margin: auto;
}

.graph-container + .graph-container {
  margin-top: 40px;
}

.step-details-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step-details-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
}

.step-details-list li {
  display: flex;
  align-items: baseline;
  margin: 8px 0;
  font-size: 14px;
  font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.step-details-list li strong {
  min-width: 100px;
  margin-right: 10px;
  color: #007bff;
}

.step-details-list li span {
  flex-grow: 1;
}
