[mongodb]
url = mongodb://127.0.0.1:%(mongo_port)s
backend_collection = be
mongo_port = {{ lookup('env', 'MONGO_PORT') |default('27017') }}
dot_identifier = [dot]
size_limitation = {{ lookup('env', 'MONGO_SIZE_LIMIT') |default('1000') }}

[development]
hostname = 0.0.0.0
asc_port = 1235
agents_port = 8760
lucid_be_port = 8000

[network]
vlan_test_capture_time = 20

[production]
hostname = 0.0.0.0
asc_port = {{ lookup('env', 'ASC_PORT') |default('11235') }}
agents_port = {{ lookup('env', 'AGENTS_PORT') |default('11234') }}
lucid_be_port = {{ lookup('env', 'BE_PORT') |default('13456') }}
lucid_ui_port = {{ lookup('env', 'UI_PORT') |default('9099') }}