flask 
flask-cors
requests
tiktoken
langchain>=0.3.25
langchain-core>=1.2.11
langchain-openai>=0.3.9
numpy
# sentence-transformers
qdrant-client
# docling
Authlib
PyJWT
python-dotenv
pydantic==2.11.7
umami-analytics
pymongo
